body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header
{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 96vw;
    padding: 0 !important;
}

#title-nav-user
{
    padding: 0 !important;
}

.navbar_brand
{
    padding: 0;
}

body h1
{
    font-size:3em;
    font-weight: bold;
    font-style: italic;
}

#nav-bar
{
    background-color: orange;
    border: 4px solid darkorange;
    width: 61vw;
    margin-bottom: 7px;
    font-size: large;
    font-weight: 600;
    padding: 0;
    min-width: 180px;
}

#user
{
    background-color: orange;
    border: 4px solid darkorange;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0px;
    padding: 6px 6px 6px 6px;
    text-align: center;
}

#button-nav
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 98vw;
}


body .container button
{
    border: 4px solid darkred;
    margin: 0;
    font-size: x-large;
    font-weight: 600;
    width: 26vw;
    min-width: 180px;
}

main
{
    border: 4px solid darkcyan;
    display: flex;
    flex: 5;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 228, 228);
    margin: 10px 0 10px 0;
    max-width: 96vw;
    border-radius: 6px;
}

#list-container
{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    margin: 10px 10px 10px 10px;
    gap: 15px;
    
}

.card
{
    width: 80vw !important;
    height: 50px;
    border: 4px solid black;
    background-color: whitesmoke;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.star
{
    flex: 1;
    text-align: left;
    line-height: 16px !important;
}

main .d-flex
{
    width: 35vw;
    text-align: center !important;
    margin: 0;
    padding: 0;
}

.form-input
{
    font-size: 1em;
    margin: 0px !important;
    padding: 0;
    border: 2px solid gray;
    background-color: whitesmoke;
}

::-webkit-input-placeholder
{
    text-align: center !important;
    font-weight: 600;
}

.cursor-center
{
    text-align: center !important;
}

.trash
{
    flex: 1;
    text-align: right;
    line-height: 16px !important;
}

.card a
{
    flex: 3;
    text-align: center;
    color: black;
    text-decoration: none;
}

#tasks-title
{
    font-size: 40px;
    font-weight: bold;
}

#task_sections
{
    display: flex;
    flex-direction: column;
    height: 100vh - 100px;
}

#in-progress
{
    display: flex;
    flex: 1;
    padding: 0 3vw 0 3.4vw;
    width: 89vw;
    overflow-y: scroll;
    margin-bottom: 20px !important;
}

#completed
{
    display: flex;
    flex: 1;
    padding: 0 3vw 0 3.4vw;
    width: 89vw;
    overflow-y: scroll;
    margin-bottom: 20px !important;
}

/*main .btn
{
    width: 80vw !important;
    height: 50px;
    border: 4px solid black;
    background-color: whitesmoke;
    font-size: x-large;
    font-weight: 600;
    padding: 0;
}
*/

footer
{
    flex: 0 28px;
    font-size: 18px;
    padding-left: 1vw;
    padding-right: 1vw;
}

footer a
{
    float: right;
    color: whitesmoke;
}

@media (max-width: 600px)
{
    #button-nav
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    body .container button
    {
        width: 96vw;
    }
}