body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center !important;
}

main
{
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 230, 230); 
    justify-content: center;
}

main h1
{
    display: flex;
    font-size: calc(2.5vw + 4vh);
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0;
}

main h2
{
    font-size: calc(1.5vw + 2.0vh);
    font-weight: 700;
}

.login-panel
{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    margin-top: 12vh;
    gap: 20px;
    text-align: center;
}

.login
{
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 53, 69);
    border: 4px solid darkred;
    gap: 5px !important;
    width: 40vw;
    align-items: center;
    padding: 5px 5px 10px 5px;
}

.signup
{
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 53, 69);
    border: 4px solid darkred;
    gap: 5px !important;
    width: 40vw;
    align-items: center;
    padding: 5px 5px 10px 5px;
}

main .d-flex
{
    width: 26vw;
    text-align: center !important;
    margin: 0;
    padding: 0;
}

.form-input
{
    margin: 0px !important;
    border: 2px solid gray;
    background-color: whitesmoke;
    text-align: center;
}

::-webkit-input-placeholder
{
    text-align: center !important;
    color: black;
    font-weight: 600;
}

.cursor-center
{
    text-align: center !important;
}

main .btn
{
    border: 2px solid rgb(75, 75, 75);
    width: 26vw;
}

.modal-dialog
{
    height: calc(1vw + 1.5vh);
    width: calc(9.5vw + 10vh);
}

.modal-content
{
    text-align: center;
    font-size: calc(0.5vw + 1.25vh);
    font-weight: 600;
}

.modal-footer
{
    justify-content: center;
}

#error-close
{
    width: calc(7vw + 8vh);
    height: calc(1vw + 1.75vh);
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    font-size: calc(0.5vw + 1.5vh);
}

footer
{
    flex: 0;
    max-height: 28px;
    font-size: 18px;
    padding-left: 1vw;
    padding-right: 1vw;
}

footer a
{
    float: right;
    color: whitesmoke;
}