.modal-dialog
{
    height: calc(2vw + 2.5vh);
    width: calc(16vw + 17vh);
}

.modal-header
{
    text-align: center;
    justify-content: center;
    font-size: calc(1.5vw + 2vh);
    font-weight: 700;
}

.modal-body
{
    justify-content: center;
    text-align: center;
}

.modal-footer
{
    justify-content: center;
}

.modal-buttons
{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.modal-buttons button
{
    min-width: calc(5.5vw + 6.5vh) !important;
    width: calc(5.5vw + 6.5vh) !important;
    border: none !important;
    height: calc(1vw + 2vh);
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    font-size: calc(0.5vw + 1.5vh) !important;
}